extends layout

block content
  section#wrap
    section#main
      div.nowplaying
      div.keys
        each val, index in pino_keys
          div.key(data-key=val.key data-note=val.note class=val.class data-sound=val.sound)
            span.hints= val.name
          audio(data-key=val.key src="/sounds/" + val.sound + ".wav")

      .container
        button.btn.create Create
        button.btn.play(style="display: none") Play
        button.btn.clear(style="display: none") Clear
      
      #output
        audio#audioOutput
  
  script(src="scripts/main.js")